body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz o body ocupar toda a altura da tela */
    margin: 0; /* Remove margens padrão */
    background-color: #f8c40d; /* Fundo neutro para destacar o container */
}
.container .input_login {
    display: flex;
   border: 2px solid rgb(150, 146, 31);
   width: 100%;
   text-align: center;
}
.login {
    border: 2px solid rgb(255, 6, 6); /* Borda ao redor do conteúdo */
    border-radius: 20px; /* Ajuste o raio para suavizar */
    padding: 20px; /* Espaço interno no container */
    background-color: white; /* Fundo do container */
    text-align: center; /* Centraliza o texto dentro */
}

footer {
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
    border-top: 3px solid #1a1a1a;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

footer img {
    height: 35px;
    width: 35px;
}

footer .icone {
    display: flex;
    flex-direction: row; /* Texto abaixo da imagem */
    align-items: center;
    text-align: center;
}

footer a {
    color: #f8c40d;
    text-decoration: none;
    
}




